/* main styles */

/* * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0;
  padding: 0; */
/* box-sizing: border-box;
} */

/*@keyframes slideup {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h3,
h2 {
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
} */

body {
  background-color: white;
  font-family: sans-serif;
  margin-top: 0px;
  background: url(/mountroyal.png) no-repeat;
  background-position: center;
  background-size: 30%;
  background-color: #afe1e2;
  /* background-attachment: fixed; */
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* utility classes */

.margin-bottom-20 {
  margin-bottom: 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* footer styles */

.footer {
  padding: 50px 0;
}

hr {
  height: 1px;
  color: #f1f1f1;
  background-color: #f1f1f1;
  border: none;
}

ul li a {
  font-size: 13px;
  color: #797777;
}

ul li {
  margin-top: 10px;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.footer-title {
  padding-bottom: 25px;
}

.footer-copy {
  font-size: 13px;
  color: #797777;
  padding-bottom: 50px;
}
.lgo {
  color: white;
}
/* searchBar */
